*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html{
    height: 100%;
    width:100%;
}
ul{
    width:100%;
}
.list-li{
    width:100%;
    /*height: 80px;*/
    /*line-height: 80px;*/
    background:burlywood;
    border-bottom: 3px solid white;
    /*position: relative;*/
    overflow: hidden;
}
.li-div{
    width: 100%;
    /*height: 100%;*/
    /*position: absolute;*/
    white-space: nowrap;
    font-size: 0;
}
.li-div-tran{
    transition: all 300ms;
}
.li-content{
    width: 100%;
    display: inline-block;
    height: 100px;
    /*float: left;*/
    vertical-align: middle;
    font-size: 14px;
}
.li-del{
    /*width: 100px;*/
    /*float: right;*/
    background-color: red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: 16px;
}